/* .input_field
{
  width: 100%;
  border-radius: 10px;
  border:2PX solid grey;
  padding: 10px;
  height: 3rem;
}
.submit_btn
{
  margin-right: 25%;
  margin-left: 6%;
  width: 30%;
  height: 50px;
 

}
.close_btn
{
color: red;
 width: 30%;
 height: 50px;
} */